# Basic String Operations

### read a file in python

In [2]:
with open('sampleTextFile.txt', 'r') as f2:
    textData=f2.read()

In [3]:
textData

'this is a TEXT file. The world is great.'

In [4]:
with open('saveFile.txt','w') as f2:
    f2.write(textData)

In [5]:
textData

'this is a TEXT file. The world is great.'

### index operation in text

In [7]:
textData.index('a')

8

In [8]:
textData.index('T')

10

### count operation in text

In [9]:
textData.count('i')

4

### slicing of the text

In [10]:
textData

'this is a TEXT file. The world is great.'

In [12]:
textData[1:7]

'his is'

In [16]:
textData[::1]#[start:stop:step]

'this is a TEXT file. The world is great.'

### inverse the text

In [17]:
textData[::-1]

'.taerg si dlrow ehT .elif TXET a si siht'

### capitalize all the letters

In [18]:
textData.upper()

'THIS IS A TEXT FILE. THE WORLD IS GREAT.'

### lowercase all the letters

In [19]:
textData.lower()

'this is a text file. the world is great.'

### check whether starts with specific character or text

In [20]:
textData.startswith('t')

True

In [21]:
textData.startswith('th')

True

### split operation on text

In [22]:
textData.split()

['this', 'is', 'a', 'TEXT', 'file.', 'The', 'world', 'is', 'great.']

In [23]:
textData.split('.')

['this is a TEXT file', ' The world is great', '']

### replace any value on text

In [24]:
textData.replace('is','**')

'th** ** a TEXT file. The world ** great.'

### inverted comma issue

In [ ]:
'who's the person?

In [ ]:
'who's the person

In [ ]:
'who's the person

In [ ]:
"who's the person?"

In [ ]:
"Can i get " in the text?

In [ ]:
"Can i get " in the text

In [ ]:
"Can i get " in the text

In [ ]:
''''''

In [25]:
'''Can I get " in text?'''

'Can I get " in text?'

### formating text

In [26]:
print ('Hellow world')

Hellow world

In [28]:
a,b=5,6
'Hello '+str(b)+' number is greater than '+str(a)

'Hello 6 number is greater than 5'

In [30]:
'Hello  {} number is greater than {}'.format(b,a)

'Hello  6 number is greater than 5'

# Conditional Statements

## If statements

 If statement checks for a given condition, if the condition is true, then the set of code present inside the if block will be executed.

In [31]:
if 5 > 3:
    print ('True')

True

In [32]:
if 2 > 3:
    print ('True')

## If else statements

if a given condition is true then execute the statements present inside if block and if the condition is false then execute the else block.

In [34]:
a,b=9,5
if b > a :
    print ('b is greater than a')
else:
    print ('a is greater than b')

a is greater than b

### Elif statements

In [35]:
marks=892
if marks <=500 :
    print ('value less than or equal to 500')
elif marks <= 700:
    print ('value less than or equal to 700')
elif marks <= 800:
    print ('value less than or equal to 800')
elif marks <= 900:
    print ('value less than or equal to 900')

value less than or equal to 900

In [36]:
marks=952
if marks <=500 :
    print ('value less than or equal to 500')
elif marks <= 700:
    print ('value less than or equal to 700')
elif marks <= 800:
    print ('value less than or equal to 800')
elif marks <= 900:
    print ('value less than or equal to 900')
elif marks > 900:
    print ('value is more than 900')

value is more than 900

In [37]:
marks=-4
if marks <=500 :
    print ('value less than or equal to 500')
elif marks <= 700:
    print ('value less than or equal to 700')
elif marks <= 800:
    print ('value less than or equal to 800')
elif marks <= 900:
    print ('value less than or equal to 900')
elif marks > 900:
    print ('value is more than 900')
else:
    print ('dont know')

value less than or equal to 500

In [38]:
marks=-4
if (marks <=500) and (marks >0) :
    print ('value less than or equal to 500')
elif marks <= 700:
    print ('value less than or equal to 700')
elif marks <= 800:
    print ('value less than or equal to 800')
elif marks <= 900:
    print ('value less than or equal to 900')
elif marks > 900:
    print ('value is more than 900')
else:
    print ('dont know')

value less than or equal to 700

### Nested if else statements

In [ ]:
gen,age='male',20
if age > 20:
    if gen == 'male':
        print ('Male Adult')
    else:
        print('Female Adult')
else:
    print ('Under Age')

## If else in One line

In [39]:
age=27
'Adult' if age >= 20 else 'UnderAge'

'Adult'

In [40]:
age=18
'Adult' if age > 20 else 'UnderAge'

'UnderAge'

# Definite Iterators

### For loops

loops iterate over the sequential elements or the definite time it has been asked for

In [41]:
list(range(5))

[0, 1, 2, 3, 4]

In [44]:
for i in range(5):
    print (i,'TTTTTT')

0 TTTTTT
1 TTTTTT
2 TTTTTT
3 TTTTTT
4 TTTTTT

In [46]:
for i in range(5):
    print ('*'*i)

*
**
***
****

In [47]:
for i in range(5):
    print ('*'*(i+1))

*
**
***
****
*****

In [48]:
for i in [1,2,3,4,5]:
    print ('*'*i)

*
**
***
****
*****

In [49]:
for ele in 'HelloWorld':
    print (ele)

H
e
l
l
o
W
o
r
l
d

In [50]:
for j in ['Name1','Name2','Name3']:
    print ('A letter send to ',j)

A letter send to  Name1
A letter send to  Name2
A letter send to  Name3

### Lets print a table of higher number upto 10 sequence

In [52]:
k=0

In [53]:
for j in range(1,11):
    k+=259
    print ('259 * {} = {}'.format(j,k))

259 * 1 = 259
259 * 2 = 518
259 * 3 = 777
259 * 4 = 1036
259 * 5 = 1295
259 * 6 = 1554
259 * 7 = 1813
259 * 8 = 2072
259 * 9 = 2331
259 * 10 = 2590

# Indefinite Loops

## while loops

while loop works over a condition if that condition met the loop breaks itself if not it keeps on going, be very careful with this statements if something written and the loop went on infinite loop then sometime the kernel needs to be killed to stop it.

In [54]:
cond=True
pvar=0
while cond:
#     pvar=+3
    pvar+=3
    print(pvar)
    if pvar > 1000:
        print ('{} val is more than 1000 '.format(pvar))
        cond=False

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297
300
303
306
309
312
315
318
321
324
327
330
333
336
339
342
345
348
351
354
357
360
363
366
369
372
375
378
381
384
387
390
393
396
399
402
405
408
411
414
417
420
423
426
429
432
435
438
441
444
447
450
453
456
459
462
465
468
471
474
477
480
483
486
489
492
495
498
501
504
507
510
513
516
519
522
525
528
531
534
537
540
543
546
549
552
555
558
561
564
567
570
573
576
579
582
585
588
591
594
597
600
603
606
609
612
615
618
621
624
627
630
633
636
639
642
645
648
651
654
657
660
663
666
669
672
675
678
681
684
687
690
693
696
699
702
705
708
711
714
717
720
723
726
729
732
735
738
741
744
747
750
753
756
759
762
765
768
771
774
777
780
783
786
789
792
795
798
801
804
807
810
813
816
819
822
825
828
831
834
837
840
843
846
849
852
855
858
861
864
867
870
873
876
879
882
885
888
891
894
897
900
903
906
909
912
915
918
921
924
927
930
933
936
939
942
945
948
951
954
957
960
963
966
969
972
975
978
981
984
987
990
993
996
999
1002
1002 val is more than 1000

## The break statement

the break statement stops the flow if the break statement comes in the execution steps

In [55]:
vvar=0
for i in range(10000):
    vvar +=300
    if vvar > 1000:
        print ('This got executed')
        break
    print ('>>>>> >>>')

>>>>> >>>
>>>>> >>>
>>>>> >>>
This got executed

## Continue statement

statement causes the program to immediately skip the execution of the rest of the code for specific step of the loop, But the loop still carries on running for its remaining iterations:

In [56]:
vvar=0
for i in range(9):
    vvar +=300
    print (vvar)
    if vvar > 1000:
        continue
        print ('This got executed')
#         break
    print ('>>>>> >>>')

300
>>>>> >>>
600
>>>>> >>>
900
>>>>> >>>
1200
1500
1800
2100
2400
2700

## Nested Loops

In [57]:
nameList=[('name1',45),('name2',78),('name3',45)]
# for nameV,ageV in nameList:
#     print ('{} is  {} year old'.format(nameV,ageV))

In [58]:
for i in nameList:
    print (i)

('name1', 45)
('name2', 78)
('name3', 45)

In [59]:
for nameV,ageV in nameList:
    print (nameV,ageV)

name1 45
name2 78
name3 45