# Reserved Keywords

- Reserved words (also called keywords) are defined with predefined meaning and syntax in the language. 
- These keywords have to be used to develop programming instructions. Reserved words can't be used as identifiers for other programming elements like name of variable, function etc

In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
True,None,False

(True, None, False)

In [4]:
a=5
assert 6>a 
assert 4>a

AssertionError:

# Type conversion

Converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.

- Implicit Type Conversion  (does not require users action) (to avoid data loss)
- Explicit Type Conversion  (require users action)

In [5]:
a=5
b=5.1

c=a+b

type(a),type(b),type(c)

(int, float, float)

In [6]:
a=5
b='5.1'

c=a+b

type(a),type(b),type(c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
a=5
b='5.1'
b=float(b)

c=a+b

type(a),type(b),type(c)

(int, float, float)

In [10]:
a=5
b='5.1'
a=str(a)

c=a+b

type(a),type(b),type(c)

(str, str, str)

In [11]:
a=5
b='5.1'
b=int(b)

c=a+b

type(a),type(b),type(c)

ValueError: invalid literal for int() with base 10: '5.1'

In [12]:
a=5
b='5.1'
b=float(b)

c=a+b

type(a),type(b),type(c)

(int, float, float)

# Operators

perform operations to variables

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

## Arithmetic Operators

In [13]:
varA=503
varB=26
print ('Addition Operator', '       +  ',varA+varB)
print ('Substraction Operator', '   -  ',varA-varB)
print ('Multiplication Operator', ' *  ',varA*varB)
print ('Division Operator', '       /  ',varA/varB)
print ('Modulus Operator', '        %  ',varA%varB , '    integer remainder operator works on integers (and integer expressions) and yields the remainder when the first operand is divided by the second')
print ('Exponential Operator', '    **  ',varA**varB)
print ('Floor Operator', '          //  ',varA//varB)

Addition Operator        +   529
Substraction Operator    -   477
Multiplication Operator  *   13078
Division Operator        /   19.346153846153847
Modulus Operator         %   9     integer remainder operator works on integers (and integer expressions) and yields the remainder when the first operand is divided by the second
Exponential Operator     **   17408750916029343234835976180894375673908268652817291074320282869837329
Floor Operator           //   19

In [14]:
503/26

19.346153846153847

In [15]:
26*19

494

In [16]:
503%26

9

## Assignment Operator

In [ ]:
print ('*'*15,'Operator  ', ' = ','*'*15)
x='Hello World'
print (x)

In [17]:
print ('*'*15,'Operator  ', ' += ','*'*15)
x=22
x+=52

y=22
y=y+52
print (x,y)

*************** Operator    +=  ***************
74 74

In [18]:
print ('*'*15,'Operator  ', ' -= ','*'*15)
x=22
x-=52

y=22
y=y-52
print (x,y)

*************** Operator    -=  ***************
-30 -30

In [19]:
print ('*'*15,'Operator  ', ' *= ','*'*15)
x=22
x*=52

y=22
y=y*52
print (x,y)

*************** Operator    *=  ***************
1144 1144

In [20]:
print ('*'*15,'Operator  ', ' /= ','*'*15)
x=22
x/=52

y=22
y=y/52
print (x,y)

*************** Operator    /=  ***************
0.4230769230769231 0.4230769230769231

In [21]:
print ('*'*15,'Operator  ', ' %= ','*'*15)
x=220
x%=52

y=220
y=y%52
print (x,y)

*************** Operator    %=  ***************
12 12

In [22]:
print ('*'*15,'Operator  ', ' //= ','*'*15)
x=220
x//=52

y=220
y=y//52
print (x,y)

*************** Operator    //=  ***************
4 4

In [23]:
print ('*'*15,'Operator  ', ' **= ','*'*15)
x=2
x**=52

y=2
y=y**52
print (x,y)

*************** Operator    **=  ***************
4503599627370496 4503599627370496

In [24]:
print ('*'*15,'Operator  ', ' &= ','*'*15,' Bitwise operators')

print ('*'*15,'Operator  ', ' |= ','*'*15,' Bitwise operators')

print ('*'*15,'Operator  ', ' ^= ','*'*15,' Bitwise operators')
 
print ('*'*15,'Operator  ', ' >>= ','*'*15,' Bitwise operators')
 
print ('*'*15,'Operator  ', ' <<= ','*'*15,' Bitwise operators')

*************** Operator    &=  ***************  Bitwise operators
*************** Operator    |=  ***************  Bitwise operators
*************** Operator    ^=  ***************  Bitwise operators
*************** Operator    >>=  ***************  Bitwise operators
*************** Operator    <<=  ***************  Bitwise operators

## Comparison Operators

In [36]:
print ('*'*15,'Operator  ', ' == ','*'*15,' equals')
x,y=5,5
x==y

*************** Operator    ==  ***************  equals

True

In [37]:
print ('*'*15,'Operator  ', ' != ','*'*15,' not equals')
x,y=5,6
x!=y

*************** Operator    !=  ***************  not equals

True

In [38]:
print ('*'*15,'Operator  ', ' > ','*'*15,' greater than')
x,y=5,6
y>x

*************** Operator    >  ***************  greater than

True

In [39]:
print ('*'*15,'Operator  ', ' < ','*'*15,' less than')
x,y=5,6
x<y

*************** Operator    <  ***************  less than

True

In [40]:
print ('*'*15,'Operator  ', ' <= ','*'*15,' less than or equal to')
x,y=5,6
x<=y

*************** Operator    <=  ***************  less than or equal to

True

In [41]:
print ('*'*15,'Operator  ', ' >= ','*'*15,' greater than or equal to')
x,y=5,6
y>=x

*************** Operator    >=  ***************  greater than or equal to

True

In [42]:
x,y=5,5
y>=x,y<=x

(True, True)

## Logical Operators

### and operator

In [43]:
(3 < 4) and (4 < 6) #Returns True if both conditions are true

True

### or operator

In [44]:
(3 < 4) or (4 > 6) #Returns True if either of the conditions are true

True

### not operator

In [45]:
not((3 < 4) and (4 < 6)) #Returns False  if the conditions are true

False

In [46]:
x,y=5,5
not(x==y)

False

## Identity Operator

### is operator

In [47]:
x,y=5,5    # returns True if they are same object
x is y

True

In [48]:
a={'a':1}
b={'a':1}

a is b

False

In [49]:
id(a)

2108281871960

In [50]:
id(b)

2108281741672

### is not operator

In [51]:
a={'a':1}
b={'a':1}

a is not b  # returns True if both objects are not same

True

## Membership Operators

###  in operator

In [52]:
listElements=[1,2,3,4,5]

4 in listElements  # returns True if element exists

True

In [53]:
bDict={'a':1}

'a' in bDict

True

### not in operator

In [54]:
listElements=[1,2,3,4,5]

7 not in listElements  # returns True if element exists

True

In [55]:
'b' not in bDict

True

## Bitwise operators

In [ ]:
print ('*'*15,'AND  Operator                    ', ' & ','*'*15)
print ('*'*15,'OR  Operator  ', '                    | ','*'*15)
print ('*'*15,'XOR  Operator  ', '                   ^ ','*'*15)
print ('*'*15,'NOT  Operator                    ', ' ~ ','*'*15)
print ('*'*15,'Zero fill left shift  Operator  ', ' << ','*'*15)
print ('*'*15,'Signed right shift  Operator    ', ' >> ','*'*15)