### variable declaration

In [1]:
print("Hello World!")

Hello World!

In [4]:
varToPrint="Hello World!"

In [5]:
print (varToPrint)

Hello World!

In [6]:
varNum1=14

In [7]:
print(varNum1)

14

In [10]:
print(varToPrint)
varNum1

Hello World!

14

In [11]:
var1=6
var2=var1

In [12]:
var1,var2

(6, 6)

In [13]:
id(var1)

1644081536

In [14]:
id(var2)

1644081536

### data types

In [15]:
#numerical

# integers, floats

var1int=2

In [16]:
type(var1int)

int

In [17]:
var2float=1.5

In [18]:
type(var2float)

float

In [19]:
var3str='string'

In [20]:
type(var3str)

str

## sequential data types

In [21]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [22]:
var4List=[1,2,3,4]
print (var4List)

[1, 2, 3, 4]

In [23]:
type(var4List)

list

## Tuple

In [24]:
(1,2,3,4)

(1, 2, 3, 4)

In [25]:
var5tuple=(1,2,3,4)
print (var5tuple)

(1, 2, 3, 4)

In [27]:
type(var5tuple)

tuple

In [28]:
type(var5tuple)

tuple

## Dictionary

In [29]:
var6dict={'q':2,'r':6}

In [30]:
{'a':5,'b':7}

{'a': 5, 'b': 7}

In [31]:
type(var6dict)

dict

## operations

## operations on Add

In [32]:
varX=16
varY=6

print ('Add          ',varX+varY)
print ('Subtract     ',varX-varY)
print ('Multiply     ',varX*varY)
print ('Divide       ',varX/varY)
print ('Double Slash ',varX//varY)

Add           22
Subtract      10
Multiply      96
Divide        2.6666666666666665
Double Slash  2

In [34]:
19//10

1

## operation on FLoat

In [35]:
varX=16.6
varY=6.2

print ('Add          ',varX+varY)
print ('Subtract     ',varX-varY)
print ('Multiply     ',varX*varY)
print ('Divide       ',varX/varY)
print ('Double Slash ',varX//varY)

Add           22.8
Subtract      10.400000000000002
Multiply      102.92000000000002
Divide        2.67741935483871
Double Slash  2.0

## What happens when we do operation in float and integer

In [36]:
varX=16
varY=6.0

print ('Add          ',varX+varY)
print ('Subtract     ',varX-varY)
print ('Multiply     ',varX*varY)
print ('Divide       ',varX/varY)
print ('Double Slash ',varX//varY)

Add           22.0
Subtract      10.0
Multiply      96.0
Divide        2.6666666666666665
Double Slash  2.0

In [37]:
varX=16.0
varY=6

print ('Add          ',varX+varY)
print ('Subtract     ',varX-varY)
print ('Multiply     ',varX*varY)
print ('Divide       ',varX/varY)
print ('Double Slash ',varX//varY)

Add           22.0
Subtract      10.0
Multiply      96.0
Divide        2.6666666666666665
Double Slash  2.0

## Operation on strings

In [38]:
varX="hello"
varY=" World!"

print ('Add          ',varX+varY)
# print ('Subtract     ',varX-varY)
# print ('Multiply     ',varX*varY)
# print ('Divide       ',varX/varY)
# print ('Double Slash ',varX//varY)

Add           hello World!

In [39]:
varY*2

' World! World!'

In [40]:
'r'*100

'rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr'

In [42]:
len(varY)

7

## Operations on List

In [43]:
varXListofNumbers=[1,2,3,4]
varXListofStrings=['a','b','c']
varXListofFloats=[.1,2.1,.5]
varXListMixed=['a',2,'b',.9]
varXListofList=[[1],[3],['a']]

In [44]:
print('varXListofNumbers ',varXListofNumbers)
print('varXListofStrings ',varXListofStrings)
print('varXListofFloats ',varXListofFloats)
print('varXListMixed ',varXListMixed)
print('varXListofList ',varXListofList)

varXListofNumbers  [1, 2, 3, 4]
varXListofStrings  ['a', 'b', 'c']
varXListofFloats  [0.1, 2.1, 0.5]
varXListMixed  ['a', 2, 'b', 0.9]
varXListofList  [[1], [3], ['a']]

In [45]:
varXListofNumbers+1

TypeError: can only concatenate list (not "int") to list

In [47]:
varXListofStrings*2

['a', 'b', 'c', 'a', 'b', 'c']

In [48]:
varXListofNumbers*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [49]:
varXListofNumbers/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [50]:
varXListofNumbers+[1]

[1, 2, 3, 4, 1]

In [51]:
varXListofNumbers*[1]

TypeError: can't multiply sequence by non-int of type 'list'

In [52]:
varXListofNumbers-[1]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [53]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [54]:
varXListofNumbers[0]

1

In [55]:
varXListofNumbers[2]

3

In [56]:
len(varXListofNumbers)

4

## String index

In [57]:
varString='Hello World!'

In [59]:
varString[4]

'o'

Lists are mutable

Tuple are immutable

In [68]:
varListSample=[5,6,77,8]
varTupleSample=(5,6,77,8)

In [70]:
varListSample[2]=0

In [73]:
varTupleSample[2]=9

TypeError: 'tuple' object does not support item assignment

In [71]:
varListSample

[5, 6, 0, 8]

The fact that each character in a Python string has a corresponding index number allows us to access and manipulate strings in the same ways we can with other sequential data types

### Operations on Dictionary

In [74]:
varDict={'a':3,'b':4}

In [75]:
varDict.keys()

dict_keys(['a', 'b'])

In [76]:
varDict.values()

dict_values([3, 4])

In [77]:
varDict['a']

3

In [78]:
varDict['a']=9

In [79]:
varDict

{'a': 9, 'b': 4}

### Complex Number

In [80]:
sampleComplex1=2+4j

In [81]:
type(sampleComplex1)

complex

In [82]:
sampleComplex2=4+4j

In [83]:
type(sampleComplex2)

complex

In [84]:
varX=sampleComplex1
varY=sampleComplex2

print ('Add          ',varX+varY)
print ('Subtract     ',varX-varY)
print ('Multiply     ',varX*varY)
print ('Divide       ',varX/varY)
# print ('Double Slash ',varX//varY)

Add           (6+8j)
Subtract      (-2+0j)
Multiply      (-8+24j)
Divide        (0.75+0.25j)