# Set

Set is a collection data type, it contains elements as list but unordered and unique and immutable objects. It is like mathematical sets.

In [1]:
variableA={'Apple','Banana','Dog'}

In [2]:
type(variableA)

set

### Values can be retrived by for loop

In [3]:
for i in variableA:
    print (i)

Apple
Banana
Dog

### Values cannot be accessed via index

In [4]:
variableA[0]

TypeError: 'set' object does not support indexing

As values can't be retrived using index, it can't be changed as well, hence immutable

### Values can be checked like lists

In [5]:
'Dog' in variableA

True

### We can add more element to existing set

In [6]:
variableA.add('Cat')

In [7]:
variableA

{'Apple', 'Banana', 'Cat', 'Dog'}

### Multiple elements can be added in once using update()

In [8]:
variableA.update(['bat','cow','plant'])

In [9]:
variableA

{'Apple', 'Banana', 'Cat', 'Dog', 'bat', 'cow', 'plant'}

### len of set

In [10]:
len(variableA)

7

## Remove the element from set

In [11]:
variableA.remove('cow')

In [12]:
variableA

{'Apple', 'Banana', 'Cat', 'Dog', 'bat', 'plant'}

## remove using Discard()

In [14]:
variableA.discard('cow')

In [15]:
variableA

{'Apple', 'Banana', 'Cat', 'Dog', 'bat', 'plant'}

In [16]:
variableA.remove('cow')
variableA

KeyError: 'cow'

Remove raises the error while removing a non existing element, but discard does not

## Pop

In [17]:
variableA

{'Apple', 'Banana', 'Cat', 'Dog', 'bat', 'plant'}

In [20]:
variableA.pop()

'Cat'

In [21]:
variableA

{'Banana', 'Dog', 'plant'}

Not sure which will get removed

### Del or clear

In [22]:
variableA.clear()

In [23]:
variableA

set()

In [24]:
del variableA

In [25]:
variableA

NameError: name 'variableA' is not defined

# Operations with Sets

## Union

In [28]:
variableA={'Apple','Boy','Cat'}
variableB={'AppleB','Apple','BoyB','CatB'}

In [27]:
variableA.union(variableB)

{'Apple', 'AppleB', 'Boy', 'BoyB', 'Cat', 'CatB'}

excludes any duplicate value

## Intersection

In [29]:
variableA.intersection(variableB)

{'Apple'}

## Difference

In [30]:
variableA.difference(variableB)

{'Boy', 'Cat'}

In [31]:
variableA

{'Apple', 'Boy', 'Cat'}

## Difference Update > Remove all elements of another set from this set.

In [32]:
variableA.difference_update(variableB)

In [33]:
variableA

{'Boy', 'Cat'}

## Is Disjoint > Return True if two sets have a null intersection.

In [34]:
variableA={1,2,3,4,5,6}
variableB={1,2,3}
variableC={4,5,6}
variableD={9,2,3,4,5,8}
variableE={1,2,3,4,5,6}

In [35]:
variableB.isdisjoint(variableC)

True

In [36]:
variableB.intersection(variableC)

set()

## Is Subset

In [37]:
variableB.issubset(variableA)

True

## Is Superset

In [38]:
variableA.issuperset(variableC)

True

## Other usefull techniques

In [39]:
listEle=[1,2,3,4,5,6,4,4,23,5,6,7,2,2,5]

set(listEle)

{1, 2, 3, 4, 5, 6, 7, 23}

In [40]:
alphaList=['a','b','A','c','P','p','C']

In [41]:
set(alphaList)

{'A', 'C', 'P', 'a', 'b', 'c', 'p'}

## Final words

Sets are better in comparing two sequential data and saves comparitively good time during operations