## Working with Select in Selenium

In [2]:
import selenium
from selenium import webdriver as wb 
from selenium.webdriver.support.ui import Select

In [3]:
webD=wb.Chrome('chromedriver.exe')

In [4]:
webD.get('http://localhost:8000/')

In [ ]:
# someForm=webD.find_element_by_class_name('form1')

In [ ]:
# someForm.text

In [5]:
webD.find_elements_by_name('dropDown')

[<selenium.webdriver.remote.webelement.WebElement (session="0e8ab74eaae1e8dc956ed8aab3c18418", element="8a7f3021-8b94-481c-8f75-308704f4ab05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e8ab74eaae1e8dc956ed8aab3c18418", element="26e7e41f-ab9a-4064-b05e-c0056a5c7d50")>]

In [9]:
select = Select(webD.find_element_by_name('dropDown'))

In [16]:
for i in selectN.options:
    print(i.text)

Option1
Option2
Option3
Option4

In [15]:
selectN=Select(webD.find_elements_by_name('dropDown')[1])

In [17]:
selectN.select_by_value('Option3')

In [13]:
select.select_by_value('Option4')

In [ ]:
for i in select.options:
    print(i.text)

## Extracting complete table from an HTML

In [ ]:
# webD=wb.Chrome('chromedriver.exe')

In [ ]:
# webD.find_element_by_xpath('//*[@id="main"]/div[3]/div')

In [19]:
import pandas as pd

In [21]:
pd.read_html('http://localhost:8000/')[0]

        Month Savings
0     January    $100
1    February    $110
2       March    $120
3       April    $130
4         May    $140
5        June    $130
6        July    $150
7      August    $120
8   September    $160
9     October    $130
10   November    $230

## Scrolling in Selenium

In [23]:
webD.execute_script("window.scrollTo(0, 400)")  #using javascript way

In [24]:
webD.execute_script("window.scrollTo(0, document.body.scrollHeight)")

## What about infinte scrolling

while loop :

webD.execute_script("window.scrollTo(500, 800)")